.activity_wraper {
  display: flex;
  width: 900px;
  align-items: center;
  justify-content: space-between;
}

.activity_container {
  margin-top: 10px;
  display: flex;
  height: 47vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
  border-top: black 2px solid;
}

.activity_card {
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  height: 250px;
  width: 200px;
  box-shadow: 0 0 4px 0 rgb(255, 255, 255);
  background-color: white;
}